body {
    padding-left: 20px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.item:hover {
    cursor: pointer;
    background-color: #999;
}

.charCode {
    margin-left: 10px;
    width: 50px;
    font-weight: bold;
}

.value {
    margin-left: 10px;
    width: 50px;
}

.courseDifference {
    margin-left: 10px;
    width: 50px;
}


/* ======================================================= */

